---
layout: default
title: Home
---

{% include intro.html %}
<div class="container">
  <h2 class="category-title">Research interest</h2>
    I am broadly interested in distributed systems. I believe theory and systems go hand in hand.
    <br>
    Currently, I am building a machine learning pipeline that will eventually be run on disaggregated storage.
     The goal is to pressure storage and pin point the bottlenecks via a benchmark. This work is being done with my advisors <a class="hover" href="https://faculty.cc.gatech.edu/~ada/">
     Prof. Ada Gavrilovska
 </a> and <a class="hover" href="https://kexinrong.github.io/">
  Prof. Kexin Rong
</a>.
     
    <br>
    Apart from above, I am also working with <a class="hover" href="https://faculty.cc.gatech.edu/~jarulraj/">
      Prof. Joy Arulraj
  </a> to make query execution faster on videos by adding probabilitic predicates which are light weight and <a class="hover" href="https://faculty.cc.gatech.edu/~atumanov/">
    Prof. Alexey Tumanov
</a> to create a compeletely elastic deep learning training platform.

Feel free to contact me to discuss any one of the above or something else that I can help with or contribute to.
  
<h2 class="category-title">Contact</h2>
  Physical: Klaus Lab 3110,  266 Ferst Dr NW, Atlanta, GA 30332
  Email: rr [at] gatech [dot] edu or 
  <a class="hover" href="https://www.linkedin.com/in/rajveermb/">
    Linkedin
  </a>
</div>
<!-- <section class="post-list">
  <div class="container">
    {% for post in site.posts %}
      {% unless post.next %}
        <h2 class="category-title">{{ post.date | date: '%Y' }}</h2>
      {% else %}
        {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
        {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
        {% if year != nyear %}
          <h2 class="category-title">{{ post.date | date: '%Y' }}</h2>
        {% endif %}
      {% endunless %}
      <article class="post-item">
        <span class="post-meta date-label">{{ post.date | date: "%b %d" }}</span>
        <div class="article-title"><a class="post-link" href="{{ post.url | prepend: site.baseurl | prepend: site.url }}">{{ post.title }}</a></div>
      </article>
    {% endfor %}
  </div>

</section> -->
