<section class="intro">
  <div class="container">
    <p class="lead">Hi, I'm <a href=https://joe-a-d.github.io/about>Joe</a>. Did you know that according to THE internet there are approx $1.8 \times 10^9$, and of those it seems that the average Morty only ventures on an average of 96 of those. Since the odds of you having end up here by random are worse than those of *** I'll assume that there is something that I wrote that might be of interest to you. So thanks for stopping by, go bananas, and let me know what you think... </a>.</p>
  </div>
</section>
