<section class="intro">
  <div class="container">
    I am a first year PhD system at <a href="https://www.scs.gatech.edu/">Georgia Tech</a>, started in August 2022.
      <br>
      Previously, I was an undergrad at <a href="https://www.eecs.psu.edu/">Penn State</a>, graduated in May 2022.
      <br>
      PhD advisors: <a class="hover" href="https://faculty.cc.gatech.edu/~ada/">
        Prof. Ada Gavrilovska
    </a> and <a class="hover" href="https://kexinrong.github.io/">
        Prof. Kexin Rong
    </a>
    </div>
</section>
