
<nav class="nav">
  <div class="container">
    <h1 class="logo"><a href="{{ '/' | prepend: site.baseurl | prepend: site.url }}">{{ site.title_left }}<span>{{ site.title_right }}</span></a></h1>
    <ul class="navbar">
      <li><a href="{{ '/about' | prepend: site.baseurl | prepend: site.url }}">Sobre mim</a></li>
      <li><a href="{{ "https://github.com/malaquiasdev?tab=repositories" }}">Projetos</a></li>
      <li><a href="{{ "https://slides.com/malaquiasdev" }}">Palestras</a></li>
      <li><a href="{{ "https://trainingcenter.io" }}" target="_blank">Training Center</a></li>
    </ul>
  </div>
</nav>
