
<nav class="nav">
  <div class="container">
    <h1 class="logo"><a href="{{ '/' | prepend: site.baseurl | prepend: site.url }}">{{ site.title_left }}<span>{{ site.title_right }}</span></a></h1>
    <ul class="navbar">
      <li><a href="{{ '/about' | prepend: site.baseurl | prepend: site.url }}">About me</a></li>
      <li><a href="{{ '/notes' | prepend: site.baseurl | prepend: site.url }}"">Notes</a></li>
      <li><a href="{{ '/papers'| prepend: site.baseurl | prepend: site.url }}"">Papers</a><li>
    </ul>
  </div>
</nav>
