---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";
@import "main";

.site-header {
    border-bottom: 1px solid #211818;
    margin-bottom: .75em;
    min-height: 80px;
}

body {
    background-color: #080b10;
}

h2 {
    font-size: 1.625rem;
    color: cadetblue;
}

.post-item a {
    color: #fff;
}

.header.site-header{
    background-color: #02050c;
}

a {
    color: #9eafff;
    text-decoration: none;
    transition: color 150ms ease;
}