---
layout: compress
published: true
---
<!DOCTYPE html>
<html>
 <!-- <script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    extensions: [
      "MathMenu.js",
      "MathZoom.js",
      "AssistiveMML.js",
      "a11y/accessibility-menu.js"
    ],
    jax: ["input/TeX", "output/CommonHTML"],
    TeX: {
      extensions: [
        "AMSmath.js",
        "AMSsymbols.js",
        "noErrors.js",
        "noUndefined.js",
      ]
    }
  });
</script>
  <script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML"> </script>-->
  {% include head.html %}
  <body>
    <main class="wrapper">
      {% include header.html %}
      {{ content }}
      {% include footer.html %}
    </main>
    {% include foot.html %}
  </body>
</html>
